@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoom-in-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
  }
  
  .container {
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  
  .figure {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .blockquote {
    border-left-color: #3498db;
  }
  
  @media only screen and (max-width: 768px) {
    .figure {
      flex-direction: column;
    }
}


.animate-pulse {
  animation: pulse 2s infinite;
}

.animate-fade-in {
  animation: fadeIn 2s;
}

.animate-bounce {
  animation: bounce 2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
